@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    /* Cores */
    --cor01:#CE294C;
    --cor02:#F48476;
    --cor03:#588730;
    --cor04:#A4F852;
    --cor05:#976D4C;
    --cor06:#634530;
    --cor07:#F1BD5D;
    --cor08:#E8EAED;
    /* Fontes */
    --font01:"EB Garamond", serif;  
    --font02:"Poppins", sans-serif;  
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;   
    margin: 0; 
    padding: 0;
}
html, body{
    width: 100%;
    height: auto;
}
/* -=-=-=-Header-=-=-=-=- */

header{
    height: auto;
    position: sticky;
    top: 0;

    background-color: var(--cor02);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.500);
    z-index: 1;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuitem a{
    text-decoration: none;
    color: var(--cor06);
    font-family: var(--font01);
    font-size: 1.6em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
}
.menuitem a:hover{
    color: var(--cor01);
}
.menuimg img{
    width: 150px;
}
.hearticon{
    background-image: url(imagens/iconheart.png);
    background-size: cover;
}
.hearticon:hover{
    background-image: url(imagens/iconheart1.png);
}
.carticon{
    background-image: url(imagens/iconcart.png);
    background-size: cover;
}
.carticon:hover{
    background-image: url(imagens/iconcart2.png);
}
.loginicon{
    background-image: url(imagens/iconlogin.png);
    background-size: cover;
}
.loginicon:hover{
    background-image: url(imagens/iconlogin1.png);
}
.menuicon a{
    width: 30px; 
    height: 30px;
    margin: 0px 5px;
}
/* -=-=-=-Header-=-=-=-=- */

/* -=-=-=-Main -> Painel=-=-=-=- */
.painelinfos{
    height: 400px;
    overflow: hidden;
    background-color: var(--cor01);
}
.painelinfos img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center center;
}
/* -=-=-=-Main -> Painel-=-=-=-=- */

/* -=-=-=-Main -> InformationSection-=-=-=-=- */
.informationsection{
    height: 80px;
    padding: 10px;
    background-color: var(--cor01);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.informationsection div{
    display: flex;
    align-items: center;
    cursor: default
}
.informationsection img{
    width: 60px;
}
.informationsection h1{
    font-family: var(--font02);
    font-weight: 600;
    font-style: italic;
    font-size: 1.4em;
    text-shadow: 1px 1px 1px black;
    
    color: var(--cor08);

    padding-left: 10px;   
}

/* -=-=-=-Main -> InformationSection-=-=-=-=- */

/* -=-=-=-Main -> Tipos de Flores-=-=-=-=- */
.flortipo{
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 20px;

    background-color: var(--cor04);
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.400);
}
.flortipo a{
    display: flex;
    flex-flow: column;
    width: 80px;

    text-decoration: none;
    transition: all ease 180ms;
}
.flortipo a:hover{
    transform: scale(1.1);
}
.flortipo img{
    background-color: white;
    object-fit: cover;
    border-radius: 50%;
    border: var(--cor03) solid 4px;
    width: 80px;
    height: 80px;

    transition: all ease 180ms;
}
.flortipo a:hover img{
    box-shadow: 0px 0px 4px var(--cor06);
}
.flortipo p{
    text-align: center;
    font-family: var(--font02);
    color: var(--cor06);
    text-shadow: 1px 1px 1px var(--cor03);
}

/* -=-=-=-Main -> Tipos de Flores-=-=-=-=- */

/* -=-=-=-Main -> Produtos Geral-=-=-=-=- */
.produtosbg{
    background-image: url(imagens/bgplantas.jpg);
    background-repeat: repeat;
    background-size: contain;
    
    display: flex;
    justify-content: center;
}
.produtosgeral{
    width: 85%;
    height: auto;
    margin-bottom: 3%;
    background-color: var(--cor03);

    border-radius: 0px 0px 10px 10px;
}
.containermaisvendidos{
    height: auto;
}
.produtos{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.produtoscard{
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    gap: 10px;
    margin: 20px 0px;
    padding: 10px;
    
    border-radius: 20px;

    background-color: var(--cor02);
}
.produtoscard img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;

}
.produtoscard h1{
    font-size: 1.2em;
    text-align: left;
    line-height: 1em;
}
.produtoscard p{
    color: var(--cor01);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.400);
    font-size: 1.2em;
    font-family: var(--font02);
    font-weight: 600;
}
.produtoscard p::before{
    content: "R$";
}
.produtosamostra{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px
}
.produtosamostra h1{
    font-family: var(--font02);
    color: var(--cor07);
    text-shadow: 1px 1px 2px var(--cor06);
}
.produtosamostra hr{
    width: 160px;
    height: 6px;
    border-radius: 800px;
    text-align: center;
    border-color: var(--cor08);
    background-color: var(--cor08);
}
.painelprodutos{
    position: relative;
    display: flex;
    justify-content: center;
}
.painelprodutos img{
    width: 95%;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 40px;

    transition: all ease 200ms;
}
.painelprodutos h1{
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    
    font-family: var(--font01);
    font-size: 3em;
    font-style: italic;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.500);
    text-decoration: underline;
    text-decoration-color: var(--cor08);
    color: var(--cor07);
    
}
.produtosbuques{
     
}
/* -=-=-=-Main -> Produtos Geral-=-=-=-=- */

/* -=-=-=-Footer-=-=-=-=- */
footer{
    height: auto;
}
#footerinfos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    background-color: var(--cor05);
}
.cardfooter{
    width: 240px;
    display: flex;
    flex-flow: column nowrap;
}
.cardfooter p{
    font-family: var(--font02);
    font-size: 1.2em;
    color: var(--cor07);
    text-shadow: 1px 1px 1px black;

    padding-bottom: 2px;
}
.cardfooter hr{
    border-color: white;
    background-color: white;
}
.cardfooter a{
    font-family: var(--font02);
    font-size: 1.1em;
    text-decoration: none;
    color: var(--cor07);
    text-shadow: 1px 1px 1px black;
    padding-top: 3px;
}
.cardfooter a:hover{
    color: var(--cor01);
    transition: color 0.1s ease;
}
.cardfooter div{
    padding-top: 3px;
    display: flex;
    justify-content: space-evenly;
}
.cardfooter img{
    width: 40px;
    transition: 0.2s;
}
.cardfooter img:hover{
    transform: scale(1.1);
    transition: transform ease 0.2s;
}
#footerendinfos{
    height: auto;
    background-color: var(--cor06);
    text-align: center;
    padding: 10px;
}
#footerendinfos span{
    color: #F1BD5D;
    text-shadow: 1px 1px 3px black;
    font-family: var(--font01);
    font-size: 1.1em;
}
/* -=-=-=-Footer-=-=-=-=- */