@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    /* Cores */
    --cor01:#CE294C;
    --cor02:#F48476;
    --cor03:#588730;
    --cor04:#A4F852;
    --cor05:#976D4C;
    --cor06:#634530;
    --cor07:#F1BD5D;
    --cor08:#E8EAED;
    /* Fontes */
    --font01:"EB Garamond", serif;  
    --font02:"Poppins", sans-serif;  
}
@media screen and (max-width: 768px) {
/* -=-=-=-Header-=-=-=-=- */
nav{
    justify-content: space-between;
    padding: 5px;
}
.menuitem{
    display: none;
}
.menuimg img{
    width: 100px;
}
.menuicon{
    display: flex;
    width: 40px;
    height: 40px;

    background-image: url(imagens/iconmenu.svg);
    background-color: var(--cor02);
    background-size: cover;
    text-decoration: none;
    border: none;
    opacity: 0.5;
}
.menuicon.open{
    background-image: url(imagens/iconcancel.svg);
}
.menumobile{
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    
    opacity: 0;
    pointer-events: none;
    background-color: var(--cor02);
    transition: opacity 100ms ease-in-out;
}
.menumobile.open{
    opacity: 1;
    pointer-events: auto;
}
.menumobileitem a{
    display: block;

    text-align: left;
    text-decoration: none;
    font-size: 1.6em;
    color: var(--cor06);
    font-family: var(--font01);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
    padding: 10px;
    border-bottom: 2px solid var(--cor06);
}
.menumobileitem a:active{
    background-color: var(--cor06);
    color: var(--cor02);
}
.painelinfos img{
    height: 200px;
}
/* -=-=-=-Header-=-=-=-=- */

/* TEMPORARIO */
.informationsection{
    display: none;
}
/* TEMPORARIO */

/* -=-=-=-Main -> Tipos de Flores-=-=-=-=- */
.flortipo{
    justify-content: start;
    overflow-x: scroll;
    padding: 10px 10px;
}
.flortipo::-webkit-scrollbar{
    display: none;
}
.flortipo a{
    width: 70px;
}
.flortipo img{
    width: 70px;
    height: 70px;
}
/* -=-=-=-Main -> Tipos de Flores-=-=-=-=- */

/* -=-=-=-Main -> Produtos Geral-=-=-=-=- */
.produtosbg{
    background-image: none;
    background-color: var(--cor03);
}
.produtosgeral{
    width: 100vw;
}
.produtos{
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.produtoscard{
    width: calc(50% - 20px);
    margin: 10px 0px;
    padding: 5px;
}
.produtoscard:hover{
    transform: none;
}
.produtoscard img{
    width: 100%;
    height: 160px;
}
.produtoscard h1{
    font-size: 1.2em;
}
.painelprodutos img{
    width: 100%;
    height: fit-content;
    border-radius: 0;
}
.painelprodutos h1{
    font-size: 2em;
    white-space: nowrap;
}
/* -=-=-=-Main -> Produtos Geral-=-=-=-=- */

/* -=-=-=-Footer-=-=-=-=- */
#footerinfos{
    flex-flow: column;
    justify-content: left;
    gap: 30px;
    padding: 10px;
}
.cardfooter{
    width: 100%;
}
/* -=-=-=-Footer-=-=-=-=- */
}